@external .gwt-*;

html, body {
    height: 100%;
    width: 100%;
    min-height: 100%;
    margin: 0 !important;
}

@sprite body {
    gwt-image: 'greenClothBackground';
}

body {
    font-weight: 400;
    font-family: 'Lora', sans-serif;
    font-size: 12pt;
    color: white;
    text-shadow: 1px 1px black;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gwt-TabBar {
    line-height: 20px;
    height: 20px;
    cursor: pointer;
    white-space: nowrap;
}

.gwt-TabBar :focus {
    outline: 0 !important;
}

.gwt-TabBarItem {
    font-family: 'PT Serif Caption', sans-serif;
    font-weight: 400;
    font-size: 10pt;
    text-shadow: 1px 1px #3d3d3d;
    padding: 0 1em;
}

.gwt-TabBarItem, .gwt-TabBarFirst, .gwt-TabBarRest {
    background-color: rgba(0, 0, 0, 0.1);
}

.gwt-TabBarFirst {
    width: 10px;
    -webkit-border-top-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    border-top-left-radius: 7px;
}

.gwt-TabBarRest {
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    border-top-right-radius: 7px;
}

.gwt-TabBarItem .gwt-Label {
    color: white;
}

.gwt-TabBarItem-selected {
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-top-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    border-top-right-radius: 7px;
}

.gwt-TabBarItem-selected .gwt-Label {
    color: white;
}

.gwt-TabPanelBottom {
    height: 100%;
}

.gwt-DialogBox {
    padding: 1em;
    border-radius: 7px;
    z-index: 100000001;
    box-shadow: 0 0 15px black;
}

@sprite .gwt-DialogBox {
    gwt-image: 'woodBackground';
}

@external .Caption;
.gwt-DialogBox .Caption {
    color: white;
    font-weight: bold;
    font-size: 120%;
    text-shadow: 1px 1px 1px #222;
    text-align: center;
}

.gwt-DialogBoxOverlay, .gwt-PopupPanelGlass {
    z-index: 100000000;
    background-color: rgba(0, 0, 0, 0.3);
}

@external .dialogTop;
.dialogTop {
    cursor: move;
}

.gwt-Button {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    padding: 5px 10px;
    border-radius: 7px;
    color: white;
    text-shadow: 1px 1px 1px black;
    height: 26px;
    cursor: pointer;
    outline: none;
    font-weight: 400;
    font-family: 'PT Serif Caption', sans-serif;
    font-size: 9pt;
}

.gwt-Button:disabled {
    color: darkgray;
}

.gwt-Button:hover {
    text-shadow: -1px -1px 1px black;
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.card-draggable {
    cursor: url("img/cursor/open-hand.cur") 4 4, move;
}

.card-disabled > img {
    filter: brightness(.70);
    -moz-filter: brightness(.70);
    -webkit-filter: brightness(.70);
}

.card-dragging {
    cursor: url("img/cursor/closed-hand.cur") 4 4, move;
}

.title, .title-smaller {
    padding: .5em 0;
    font-size: 36pt;
    font-family: 'Lobster', cursive;
}

.title-smaller {
    font-size: 28pt;
}

.layoutCenter {
    width: 1164px;
    margin: 0 auto;
}

.requestLoader {

}

.loadingImage {
    margin: 1em auto;
    display: block;
}
